
{% comment %} Get nr of columns from settings {% endcomment %}
{%- assign items_per_row = section.settings.items_per_row | times: '1' -%}

{% comment %} get classes for responsive columns {% endcomment %}
{%- render 'responsive-column-dimensions',
  items_per_row = items_per_row
-%}

{% comment %} get responsive image dimensions {% endcomment %}
{%- render 'responsive-image-dimensions',
  items_per_row = items_per_row,
  responsive_image_ratio: '0.7'
-%}

{% comment %} create content {% endcomment %}
{%- capture section_content -%}
  {% if section.settings.blog != blank %}
    <div class="row row--gutter row--line-spacing {{ responsive_no_line_spacing }}">
      {%- for article in blogs[section.settings.blog].articles limit: section.settings.nr_items -%}
        <div class="col {{ responsive_column_classes }} col--border " {{ block.shopify_attributes }}>
          {%- render 'blog-link',
            the_article: article
          -%}
        </div>
      {%- endfor -%}
    </div>
  {% else %}
    <div class="row row--gutter row--line-spacing {{ responsive_no_line_spacing }}">
      {% for i in (1..section.settings.nr_items) %}
        <div class="col {{ responsive_column_classes }} col--border ">
          {%- render 'blog-link',
            article_demo: i
          -%}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{%- endcapture -%}

{% comment %} wrap and render content {% endcomment %}
{%- render 'container',
  container_content: section_content,
  container_title: section.settings.title,
  container_classes: section.settings.section_background,
  container_title_hidden: section.settings.hide_heading
 -%}

{% schema %}
{
  "name": "Featured blog",
  "class": "blog-list-section",
  "settings": [
  {
    "type": "header",
    "content": "Section layout",
    "info": "Control the look of this section"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Featured blog",
    "info": "Always give this a good SEO value"
  },
  {
    "type": "select",
    "id": "hide_heading",
    "label": "Heading visibility",
    "default": "false",
    "options": [
    {
      "value": "false",
      "label": "Show heading"
    },
    {
      "value": "true",
      "label": "Hide heading"
    } ]
  },
  {
    "type": "select",
    "id": "section_background",
    "label": "Section background color",
    "default": "",
    "options": [
    {
      "value": "",
      "label": "None"
    },
    {
      "value": "container--accent container--block",
      "label": "Accent"
    } ]
  },
  {
    "type": "header",
    "content": "Section content"
  },
  {
    "type": "blog",
    "id": "blog",
    "label": "Select blog"
  },
  {
    "type": "text",
    "id": "nr_items",
    "default": "3",
    "label": "Nr of items"
  },
  {
    "type": "select",
    "id": "items_per_row",
    "default": "3",
    "label": "Nr of items per row",
    "options": [
    {
      "value": "1",
      "label": "1"
    },
    {
      "value": "2",
      "label": "2"
    },
    {
      "value": "3",
      "label": "3"
    },
    {
      "value": "4",
      "label": "4"
    } ]
  } ],
  "presets": [
  {
    "name": "Featured blog",
    "category": "Blog",
    "settings": {}
  } ]
}{% endschema %}
